/* Colors */
:root {
  --shadow-default: rgba(0, 0, 0, 0.4);
  --shadow-light: rgba(0, 0, 0, 0.2);
  --secondary-dark: #808080;
  --secondary-light: #d3d3d3;
  --extra-light: #ececec;
  --black: #373737;
  --error: #b00020;
  --success: #2abd2a;
}

.main {
  padding: 2rem;
  margin: auto;
}

#metronome-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#tempo-section,
#time-signature-section {
  text-align: center;
  max-width: fit-content;
}

#tempo-section-title,
#time-signature-section-title {
  margin: 0;
  padding: 0;
}

#tempo-container {
  display: flex;
  flex-flow: column wrap;
}

#time-signature-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#tempo-value,
#time-signature-value {
  font-weight: bold;
  font-size: xxx-large;
  text-align: center;
}

#time-signature-basic-beat {
  font-weight: bold;
  font-size: x-large;
  color: var(--shadow-default);
}

#time-signature-controls {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  & > button {
    border: none;
    font-weight: bold;
    font-size: large;
  }
}

#tempo-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.6rem;

  & > button.tempo-button {
    margin: 0;
    padding: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 80%;
    padding: 0.3rem;
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background-color: var(--extra-light);
    }

    &:active {
      background-color: var(--secondary-light);
    }

    &:disabled {
      & > svg {
        fill: var(--secondary-light);
      }
    }
  }

  & > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: none;
    outline: none;
    width: 10rem;

    &::-webkit-slider-runnable-track {
      background-color: var(--secondary-light);
      border-radius: 0.5rem;
      height: 0.5rem;
    }
    &::-moz-range-track {
      background-color: var(--secondary-light);
      border-radius: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -4px; /* Centers thumb on the track */
      background-color: var(--secondary-dark);
      border-radius: 0.5rem;
      height: 1rem;
      width: 1rem;
    }
    &::-moz-range-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -4px; /* Centers thumb on the track */
      background-color: var(--secondary-dark);
      border-radius: 0.5rem;
      height: 1rem;
      width: 1rem;
    }

    &:focus::-webkit-slider-thumb {
      outline: 3px solid var(--secondary-dark);
      outline-offset: 0.125rem;
    }
    &:focus::-moz-range-thumb {
      outline: 3px solid var(--secondary-dark);
      outline-offset: 0.125rem;
    }
  }
}

button {
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem var(--shadow-default);
  &:hover {
    background-color: var(--secondary-dark);
  }
  &:active {
    background-color: var(--secondary-dark);
    background-color: #fff;
  }
  &:disabled {
    color: var(--secondary-light);
    &:hover {
      background-color: unset;
    }
  }
}

#metronome-button-play-icon,
#metronome-button-pause-icon {
  fill: var(--black);
  &.hidden {
    display: none;
  }
}

#staff-container {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
